# Assignment: Data Wrangling
## `! git clone https://github.com/DS3001/wrangling`
## Do Q2, and one of Q1 or Q3.

**Q1.** Open the "tidy_data.pdf" document in the repo, which is a paper called Tidy Data by Hadley Wickham.

  1. Read the abstract. What is this paper about?
  2. Read the introduction. What is the "tidy data standard" intended to accomplish?
  3. Read the intro to section 2. What does this sentence mean: "Like families, tidy datasets are all alike but every messy dataset is messy in its own way." What does this sentence mean: "For a given dataset, itâ€™s usually easy to figure out what are observations and what are variables, but it is surprisingly difficult to precisely define variables and observations in general."
  4. Read Section 2.2. How does Wickham define values, variables, and observations?
  5. How is "Tidy Data" defined in section 2.3?
  6. Read the intro to Section 3 and Section 3.1. What are the 5 most common problems with messy datasets? Why are the data in Table 4 messy? What is "melting" a dataset?
  7. Why, specifically, is table 11 messy but table 12 tidy and "molten"?
  8. Read Section 6. What is the "chicken-and-egg" problem with focusing on tidy data? What does Wickham hope happens in the future with further work on the subject of data wrangling?

**Q2.** This question provides some practice cleaning variables which have common problems.
1. Numeric variable: For `./data/airbnb_hw.csv`, clean the `Price` variable as well as you can, and explain the choices you make. How many missing values do you end up with? (Hint: What happens to the formatting when a price goes over 999 dollars, say from 675 to 1,112?)
2. Categorical variable: For the `./data/sharks.csv` data covered in the lecture, clean the "Type" variable as well as you can, and explain the choices you make.
3. Dummy variable: For the pretrial data covered in the lecture, clean the `WhetherDefendantWasReleasedPretrial` variable as well as you can, and, in particular, replace missing values with `np.nan`.
4. Missing values, not at random: For the pretrial data covered in the lecture, clean the `ImposedSentenceAllChargeInContactEvent` variable as well as you can, and explain the choices you make. (Hint: Look at the `SentenceTypeAllChargesAtConvictionInContactEvent` variable.)

In [9]:
import pandas as pd
import numpy as np

In [10]:
# Question 1
airbnb_df = pd.read_csv('./data/airbnb_hw.csv')
airbnb_df.head()

,Host Id,Host Since,Name,Neighbourhood,Property Type,Review Scores Rating (bin),Room Type,Zipcode,Beds,Number of Records,Number Of Reviews,Price,Review Scores Rating
0,5162530,NaN,1 Bedroom in Prime Williamsburg,Brooklyn,Apartment,NaN,Entire home/apt,11249.0,1.0,1,0,145,NaN
1,33134899,NaN,"Sunny, Private room in Bushwick",Brooklyn,Apartment,NaN,Private room,11206.0,1.0,1,1,37,NaN
2,39608626,NaN,Sunny Room in Harlem,Manhattan,Apartment,NaN,Private room,10032.0,1.0,1,1,28,NaN
3,500,6/26/2008,Gorgeous 1 BR with Private Balcony,Manhattan,Apartment,NaN,Entire home/apt,10024.0,3.0,1,0,199,NaN
4,500,6/26/2008,Trendy Times Square Loft,Manhattan,Apartment,95.0,Private room,10036.0,3.0,1,39,549,96.0

In [11]:
price = airbnb_df['Price']

print(price.unique, '\n')
# when the price goes from 999 to 1,000, we want to remove the commas to make our data uniformly formatted
price = price.str.replace(',','')
print(price.unique, '\n')
# next, we want to coerce the values to numeric using Pandas' coerce
price = pd.to_numeric(price, errors='coerce') 

# see how many missing values there are
print("Number of missing values after coercion: ", sum(price.isnull()))

<bound method Series.unique of 0        145
1         37
2         28
3        199
4        549
        ...
30473    300
30474    125
30475     80
30476     35
30477     80
Name: Price, Length: 30478, dtype: object>

<bound method Series.unique of 0        145
1         37
2         28
3        199
4        549
        ...
30473    300
30474    125
30475     80
30476     35
30477     80
Name: Price, Length: 30478, dtype: object>

Number of missing values after coercion:  0

In [16]:
# Question 2
sharkdf = pd.read_csv('../data/sharks.csv')
print(sharkdf.head)

<bound method NDFrame.head of       index   Case Number                  Date    Year        Type  \
0         0    2020.02.05           05-Feb-2020  2020.0  Unprovoked
1         1  2020.01.30.R  Reported 30-Jan-2020  2020.0    Provoked
2         2    2020.01.17           17-Jan-2020  2020.0  Unprovoked
3         3    2020.01.16           16-Jan-2020  2020.0  Unprovoked
4         4    2020.01.13           13-Jan-2020  2020.0  Unprovoked
...     ...           ...                   ...     ...         ...
6457   6457       ND.0005           Before 1903     0.0  Unprovoked
6458   6458       ND.0004           Before 1903     0.0  Unprovoked
6459   6459       ND.0003             1900-1905     0.0  Unprovoked
6460   6460       ND.0002             1883-1889     0.0  Unprovoked
6461   6461       ND.0001             1845-1853     0.0  Unprovoked

                 Country               Area  \
0                    USA               Maui
1                BAHAMAS             Exumas
2              AUSTRALIA    New South Wales
3            NEW ZEALAND          Southland
4                    USA     North Carolina
...                  ...                ...
6457           AUSTRALIA  Western Australia
6458           AUSTRALIA  Western Australia
6459                 USA     North Carolina
6460              PANAMA                NaN
6461  CEYLON (SRI LANKA)   Eastern Province

                                 Location                  Activity  \
0                                     NaN  Stand-Up Paddle boarding
1                                     NaN                  Floating
2                           Windang Beach                   Surfing
3                             Oreti Beach                   Surfing
4                   Rodanthe, Dare County                   Surfing
...                                   ...                       ...
6457                          Roebuck Bay                    Diving
6458                                  NaN              Pearl diving
6459                       Ocracoke Inlet                  Swimming
6460                 Panama Bay 8ÂºN, 79ÂºW                       NaN
6461  Below the English fort, Trincomalee                  Swimming

                       Name  ... Unnamed: 246 Unnamed: 247 Unnamed: 248  \
0                       NaN  ...          NaN          NaN          NaN
1           Ana Bruna Avila  ...          NaN          NaN          NaN
2            Will Schroeter  ...          NaN          NaN          NaN
3               Jordan King  ...          NaN          NaN          NaN
4              Samuel Horne  ...          NaN          NaN          NaN
...                     ...  ...          ...          ...          ...
6457                   male  ...          NaN          NaN          NaN
6458                  Ahmun  ...          NaN          NaN          NaN
6459  Coast Guard personnel  ...          NaN          NaN          NaN
6460        Jules Patterson  ...          NaN          NaN          NaN
6461                   male  ...          NaN          NaN          NaN

     Unnamed: 249 Unnamed: 250 Unnamed: 251 Unnamed: 252 Unnamed: 253  \
0             NaN          NaN          NaN          NaN          NaN
1             NaN          NaN          NaN          NaN          NaN
2             NaN          NaN          NaN          NaN          NaN
3             NaN          NaN          NaN          NaN          NaN
4             NaN          NaN          NaN          NaN          NaN
...           ...          ...          ...          ...          ...
6457          NaN          NaN          NaN          NaN          NaN
6458          NaN          NaN          NaN          NaN          NaN
6459          NaN          NaN          NaN          NaN          NaN
6460          NaN          NaN          NaN          NaN          NaN
6461          NaN          NaN          NaN          NaN          NaN

     Unnamed: 254 Unnamed: 255
0             NaN          NaN
1             NaN          NaN
2             NaN          NaN
3             NaN          NaN
4             NaN          NaN
...           ...          ...
6457          NaN          NaN
6458          NaN          NaN
6459          NaN          NaN
6460          NaN          NaN
6461          NaN          NaN

[6462 rows x 257 columns]>

/var/folders/4d/13vvrd7531qclhwg2svgst3c0000gn/T/ipykernel_68052/2146089193.py:2: DtypeWarning: Columns (10,17,18,19,20,21,24) have mixed types. Specify dtype option on import or set low_memory=False.
  sharkdf = pd.read_csv('../data/sharks.csv')

In [13]:
types = sharkdf['Type']
print(types.value_counts(), '\n')

Unprovoked             4716
Provoked                593
Invalid                 552
Sea Disaster            239
Watercraft              142
Boat                    109
Boating                  92
Questionable             10
Unconfirmed               1
Unverified                1
Under investigation       1
Boatomg                   1
Name: Type, dtype: int64

In [14]:
""" 
Some of the column headings are similar, such as 'Boat', 'Boating', and 'Watercraft'. Questionable, Unconfirmed, Unverified, and Under 
Investigation seem to reference the same idea (invalid data) as well. Boatomg seems to be some sort of typo in the data, possibly meaning Boating.
"""
types = sharkdf['Type']
# consolidate like columns into a single category
types = types.replace(['Boat', 'Boating', 'Sea Disaster', 'Boatomg'], 'Watercraft')
types = types.replace(['Questionable', 'Unconfirmed', 'Unverified', 'Under investigation', 'Invalid'], np.nan)
print(types.value_counts())

sharkdf['Type'] = types
del types
print(sharkdf['Type'].value_counts())

Unprovoked    4716
Provoked       593
Watercraft     583
Name: Type, dtype: int64
Unprovoked    4716
Provoked       593
Watercraft     583
Name: Type, dtype: int64

In [20]:
# Question 3
url = 'http://www.vcsc.virginia.gov/pretrialdataproject/October%202017%20Cohort_Virginia%20Pretrial%20Data%20Project_Deidentified%20FINAL%20Update_10272021.csv'
pretrialdf = pd.read_csv(url,low_memory=False)
print(pretrialdf.head())

<bound method NDFrame.head of       InternalStudyID REQ_REC# Defendant_Sex Defendant_Race  \
0            ADI00001        1             M              W
1            ADI00007        3             M              B
2            ADI00008        4             M              W
3            CDI00036        6             M              B
4            CDI00038        7             F              W
...               ...      ...           ...            ...
22981        SJA00343    22839             M              B
22982        SJA00344                      F              W
22983        SJA00345    22841             M              B
22984        SJA00346    22842             F              B
22985        SJA00347    22843             M              B

      Defendant_BirthYear Defendant_Age  Defendant_AgeGroup  \
0                    1986            31                   3
1                    1956            60                   6
2                    1990            27                   3
3                    1989            27                   3
4                    1988            28                   3
...                   ...           ...                 ...
22981                1976            41                   4
22982                                                     9
22983                1981            36                   4
22984                1993            24                   2
22985                1985            31                   3

      Defendant_AgeatCurrentArrest  Defendant_AttorneyTypeAtCaseClosure  \
0                               31                                   99
1                               60                                    9
2                               27                                    9
3                               27                                    0
4                               28                                    0
...                            ...                                  ...
22981                           41                                    2
22982                                                                99
22983                           36                                    1
22984                           24                                    5
22985                           31                                    2

       Defendant_IndigencyStatus  ... NewFelonySexualAssaultArrest_OffDate  \
0                             99  ...
1                              9  ...
2                              9  ...
3                              0  ...
4                              0  ...
...                          ...  ...                                  ...
22981                          1  ...
22982                         99  ...
22983                          1  ...
22984                          0  ...
22985                          1  ...

      NewFelonySexualAssaultArrest_ArrestDate  \
0
1
2
3
4
...                                       ...
22981
22982
22983
22984
22985

       NewFelonySexualAssaultArrest_DaysBetweenContactEventandOffDate  \
0
1
2
3
4
...                                                  ...
22981
22982
22983
22984
22985

      NewFelonySexualAssaultArrest_DaysBetweenOffDateandArrestDate  \
0                                                    999
1                                                    999
2                                                    999
3                                                    999
4                                                    999
...                                                  ...
22981                                                999
22982                                                999
22983                                                999
22984                                                999
22985                                                999

       NewFelonySexualAssaultArrest_DaysBetweenReleaseDateandOffDate  \
0                                                    999
1                                                    999
2                                                    999
3                                                    999
4                                                    999
...                                                  ...
22981                                                999
22982                                                999
22983                                                999
22984                                                999
22985                                                999

       NewFelonySexualAssaultArrest_Disposition  \
0
1
2
3
4
...                                         ...
22981
22982
22983
22984
22985

       Intertnalindicator_ReasonforExcludingFromFollowUpAnalysis  \
0                                                      4
1                                                      5
2                                                      5
3                                                      5
4                                                      0
...                                                  ...
22981                                                  0
22982                                                  3
22983                                                  0
22984                                                  0
22985                                                  0

       CriminalHistoryRecordsReturnedorCMSRecordsFoundforIndividual  \
0                                                      1
1                                                      1
2                                                      1
3                                                      1
4                                                      1
...                                                  ...
22981                                                  1
22982
22983                                                  1
22984                                                  1
22985                                                  1

      DispRecordFoundforChargesinOct2017Contact_Atleast1dispfound  \
0                                                      0
1                                                      1
2                                                      1
3                                                      1
4                                                      1
...                                                  ...
22981                                                  1
22982                                                  9
22983                                                  1
22984                                                  1
22985                                                  1

       CrimeCommission2021ReportClassificationofDefendants
0      Defendant could not be classified or tracked d...
1      Defendant Detained Entire Pre-Trial Period_Und...
2      Defendant Detained Entire Pre-Trial Period_Und...
3      Defendant Detained Entire Pre-Trial Period_Und...
4      New criminal offense punishable by incarcerati...
...                                                  ...
22981  New criminal offense punishable by incarcerati...
22982  Defendant could not be classified or tracked d...
22983  New criminal offense punishable by incarcerati...
22984  New criminal offense punishable by incarcerati...
22985  New criminal offense punishable by incarcerati...

[22986 rows x 709 columns]>

In [24]:
pretrialdf = pretrialdf.rename(columns= {'WhetherDefendantWasReleasedPretrial': 'released'})
released = pretrialdf['released']
print(released.value_counts())
print(released.unique())

1    19154
0     3801
9       31
Name: released, dtype: int64
[9 0 1]

In [27]:
# Based on the codebook, the 9's are unclear. So, we should make these data nan
released.replace(9, np.nan)
print(sum(released.isnull()))
pretrialdf['released'] = released
del released

0

**Q3.** Many important datasets contain a race variable, typically limited to a handful of values often including Black, White, Asian, Latino, and Indigenous. This question looks at data gathering efforts on this variable by the U.S. Federal government.

1. How did the most recent US Census gather data on race?
2. Why do we gather these data? What role do these kinds of data play in politics and society? Why does data quality matter?
3. Please provide a constructive criticism of how the Census was conducted: What was done well? What do you think was missing? How should future large scale surveys be adjusted to best reflect the diversity of the population? Could some of the Census' good practices be adopted more widely to gather richer and more useful data?
4. How did the Census gather data on sex and gender? Please provide a similar constructive criticism of their practices.
5. When it comes to cleaning data, what concerns do you have about protected characteristics like sex, gender, sexual identity, or race? What challenges can you imagine arising when there are missing values? What good or bad practices might people adopt, and why?
6. Suppose someone invented an algorithm to impute values for protected characteristics like race, gender, sex, or sexuality. What kinds of concerns would you have?