# Assignment: Data Wrangling
## `! git clone https://github.com/DS3001/wrangling`
## Do Q2, and one of Q1 or Q3.

**Q1.** Open the "tidy_data.pdf" document in the repo, which is a paper called Tidy Data by Hadley Wickham.

  1. Read the abstract. What is this paper about?

The paper is about data tidying, or the reformatting of data into an easily analyzable format. Data tidying formats data into dataframes, where the columns in a matrix represent variables and the rows represent observations. The paper goes over a framework that makes the data tidying process easier.

  2. Read the introduction. What is the "tidy data standard" intended to accomplish?

The tidy data standard is meant to "facilitate the initial exploration and analysis of the data, nd to simplify the development of data analysis tools that work well together". The standard helps data scientists focus on the actual domain problem, rather than the logistics of the data.

  3. Read the intro to section 2. What does this sentence mean: "Like families, tidy datasets are all alike but every messy dataset is messy in its own way." What does this sentence mean: "For a given dataset, it’s usually easy to figure out what are observations and what are variables, but it is surprisingly difficult to precisely define variables and observations in general."

  Sentence one relates to how tidy datasets are all alike because they all make the data cleaning process easier and follow the same standard, structure, and properties. There are a lot of ways that data can be messy, such as typos, missing data, unstructured data. Therefore, messy datasets are messy in their own way, making it more difficult to process.

  Sentence two states that examining data that's at least somewhat structured can show us what are variables and what are observations. However, the second part of the sentence mentions a more global take on the terms themselves. The definition of variables and observations can vary from dataset to dataset, so it is difficult to pin down a concrete, universal intepretation for everyone.

  4. Read Section 2.2. How does Wickham define values, variables, and observations?

Wickham defines values as strings or numbers that belong to a variable and observation. A variable contains all values that measure the same attribute in the study. An observation contains all values measured for the same unit, which could contain values for multiple variables.

  5. How is "Tidy Data" defined in section 2.3?

Tidy Data is defined as a structure in which each variable forms a column, each observation forms a row, and each type of obserevational unit forms a table.


  6. Read the intro to Section 3 and Section 3.1. What are the 5 most common problems with messy datasets? Why are the data in Table 4 messy? What is "melting" a dataset?

The five most common problems with messy data sets are column headers are values instead of variable names, multiple variables are stored in one column, variables are stored in both rows and columns, multiple types of observational units are stored in the same table, and a single observational unit is stored in multiple tables.

The data in Table 4 are messy because the column names are values and not variables. The column names represents ranges for the specific variable of income. Variables represent both the columns and the rows. Melting the dataset alleviates this problem by converting columns into rows. In table 4's case, the table would be restructured such that there is a religion column, an income column, and a frequency column. Then, each row would represent one observation and the table would be tidy. 

  7. Why, specifically, is table 11 messy but table 12 tidy and "molten"?

Table 11 is messy because some of the columns are values that represent the days of the month. So, there are multiple observations in one row. There is also a lot of empty data in table 11 due to its structure. Data represents both rows and columns. It has variables like year and month spread across columns (days of the month) and across rows (min and max temperature). The element column is not a variable, it contains two variables. 

Table 12 is tidy and molten because each row represents one observation. There is one variable per column and the year, month, and day are consolodated into one variable called date which makes the data easier to interpret.

  8. Read Section 6. What is the "chicken-and-egg" problem with focusing on tidy data? What does Wickham hope happens in the future with further work on the subject of data wrangling?

The chicken and egg problem with tidy data states that if the efficiency of tidy data is limited by the tidy tools that use it, then tidy tools will be closely linked with tidy data. Wickham hopes that the tidy framework will be just the beginning of a much larger effort to enhance the data cleaning process as well as the overall data science method.

**Q2.** This question provides some practice cleaning variables which have common problems.
1. Numeric variable: For `./data/airbnb_hw.csv`, clean the `Price` variable as well as you can, and explain the choices you make. How many missing values do you end up with? (Hint: What happens to the formatting when a price goes over 999 dollars, say from 675 to 1,112?)
2. Categorical variable: For the `./data/sharks.csv` data covered in the lecture, clean the "Type" variable as well as you can, and explain the choices you make.
3. Dummy variable: For the pretrial data covered in the lecture, clean the `WhetherDefendantWasReleasedPretrial` variable as well as you can, and, in particular, replace missing values with `np.nan`.
4. Missing values, not at random: For the pretrial data covered in the lecture, clean the `ImposedSentenceAllChargeInContactEvent` variable as well as you can, and explain the choices you make. (Hint: Look at the `SentenceTypeAllChargesAtConvictionInContactEvent` variable.)

In [84]:
import pandas as pd
import numpy as np

In [85]:
# Question 1
airbnb_df = pd.read_csv('./data/airbnb_hw.csv')
airbnb_df.head()

,Host Id,Host Since,Name,Neighbourhood,Property Type,Review Scores Rating (bin),Room Type,Zipcode,Beds,Number of Records,Number Of Reviews,Price,Review Scores Rating
0,5162530,NaN,1 Bedroom in Prime Williamsburg,Brooklyn,Apartment,NaN,Entire home/apt,11249.0,1.0,1,0,145,NaN
1,33134899,NaN,"Sunny, Private room in Bushwick",Brooklyn,Apartment,NaN,Private room,11206.0,1.0,1,1,37,NaN
2,39608626,NaN,Sunny Room in Harlem,Manhattan,Apartment,NaN,Private room,10032.0,1.0,1,1,28,NaN
3,500,6/26/2008,Gorgeous 1 BR with Private Balcony,Manhattan,Apartment,NaN,Entire home/apt,10024.0,3.0,1,0,199,NaN
4,500,6/26/2008,Trendy Times Square Loft,Manhattan,Apartment,95.0,Private room,10036.0,3.0,1,39,549,96.0

In [86]:
price = airbnb_df['Price']

print(price.unique, '\n')
# when the price goes from 999 to 1,000, we want to remove the commas to make our data uniformly formatted
price = price.str.replace(',','')
print(price.unique, '\n')
# next, we want to coerce the values to numeric using Pandas' coerce
price = pd.to_numeric(price, errors='coerce') 

# see how many missing values there are
print("Number of missing values after coercion: ", sum(price.isnull()))

<bound method Series.unique of 0        145
1         37
2         28
3        199
4        549
        ...
30473    300
30474    125
30475     80
30476     35
30477     80
Name: Price, Length: 30478, dtype: object>

<bound method Series.unique of 0        145
1         37
2         28
3        199
4        549
        ...
30473    300
30474    125
30475     80
30476     35
30477     80
Name: Price, Length: 30478, dtype: object>

Number of missing values after coercion:  0

In [87]:
# Question 2
sharkdf = pd.read_csv('../data/sharks.csv')
print(sharkdf.head)

<bound method NDFrame.head of       index   Case Number                  Date    Year        Type  \
0         0    2020.02.05           05-Feb-2020  2020.0  Unprovoked
1         1  2020.01.30.R  Reported 30-Jan-2020  2020.0    Provoked
2         2    2020.01.17           17-Jan-2020  2020.0  Unprovoked
3         3    2020.01.16           16-Jan-2020  2020.0  Unprovoked
4         4    2020.01.13           13-Jan-2020  2020.0  Unprovoked
...     ...           ...                   ...     ...         ...
6457   6457       ND.0005           Before 1903     0.0  Unprovoked
6458   6458       ND.0004           Before 1903     0.0  Unprovoked
6459   6459       ND.0003             1900-1905     0.0  Unprovoked
6460   6460       ND.0002             1883-1889     0.0  Unprovoked
6461   6461       ND.0001             1845-1853     0.0  Unprovoked

                 Country               Area  \
0                    USA               Maui
1                BAHAMAS             Exumas
2              AUSTRALIA    New South Wales
3            NEW ZEALAND          Southland
4                    USA     North Carolina
...                  ...                ...
6457           AUSTRALIA  Western Australia
6458           AUSTRALIA  Western Australia
6459                 USA     North Carolina
6460              PANAMA                NaN
6461  CEYLON (SRI LANKA)   Eastern Province

                                 Location                  Activity  \
0                                     NaN  Stand-Up Paddle boarding
1                                     NaN                  Floating
2                           Windang Beach                   Surfing
3                             Oreti Beach                   Surfing
4                   Rodanthe, Dare County                   Surfing
...                                   ...                       ...
6457                          Roebuck Bay                    Diving
6458                                  NaN              Pearl diving
6459                       Ocracoke Inlet                  Swimming
6460                 Panama Bay 8ºN, 79ºW                       NaN
6461  Below the English fort, Trincomalee                  Swimming

                       Name  ... Unnamed: 246 Unnamed: 247 Unnamed: 248  \
0                       NaN  ...          NaN          NaN          NaN
1           Ana Bruna Avila  ...          NaN          NaN          NaN
2            Will Schroeter  ...          NaN          NaN          NaN
3               Jordan King  ...          NaN          NaN          NaN
4              Samuel Horne  ...          NaN          NaN          NaN
...                     ...  ...          ...          ...          ...
6457                   male  ...          NaN          NaN          NaN
6458                  Ahmun  ...          NaN          NaN          NaN
6459  Coast Guard personnel  ...          NaN          NaN          NaN
6460        Jules Patterson  ...          NaN          NaN          NaN
6461                   male  ...          NaN          NaN          NaN

     Unnamed: 249 Unnamed: 250 Unnamed: 251 Unnamed: 252 Unnamed: 253  \
0             NaN          NaN          NaN          NaN          NaN
1             NaN          NaN          NaN          NaN          NaN
2             NaN          NaN          NaN          NaN          NaN
3             NaN          NaN          NaN          NaN          NaN
4             NaN          NaN          NaN          NaN          NaN
...           ...          ...          ...          ...          ...
6457          NaN          NaN          NaN          NaN          NaN
6458          NaN          NaN          NaN          NaN          NaN
6459          NaN          NaN          NaN          NaN          NaN
6460          NaN          NaN          NaN          NaN          NaN
6461          NaN          NaN          NaN          NaN          NaN

     Unnamed: 254 Unnamed: 255
0             NaN          NaN
1             NaN          NaN
2             NaN          NaN
3             NaN          NaN
4             NaN          NaN
...           ...          ...
6457          NaN          NaN
6458          NaN          NaN
6459          NaN          NaN
6460          NaN          NaN
6461          NaN          NaN

[6462 rows x 257 columns]>

/var/folders/4d/13vvrd7531qclhwg2svgst3c0000gn/T/ipykernel_68052/2146089193.py:2: DtypeWarning: Columns (10,17,18,19,20,21,24) have mixed types. Specify dtype option on import or set low_memory=False.
  sharkdf = pd.read_csv('../data/sharks.csv')

In [88]:
types = sharkdf['Type']
print(types.value_counts(), '\n')

Unprovoked             4716
Provoked                593
Invalid                 552
Sea Disaster            239
Watercraft              142
Boat                    109
Boating                  92
Questionable             10
Unconfirmed               1
Unverified                1
Under investigation       1
Boatomg                   1
Name: Type, dtype: int64

In [89]:
""" 
Some of the column headings are similar, such as 'Boat', 'Boating', and 'Watercraft'. Questionable, Unconfirmed, Unverified, and Under 
Investigation seem to reference the same idea (invalid data) as well. Boatomg seems to be some sort of typo in the data, possibly meaning Boating.
"""
types = sharkdf['Type']
# consolidate like columns into a single category
types = types.replace(['Boat', 'Boating', 'Sea Disaster', 'Boatomg'], 'Watercraft')
types = types.replace(['Questionable', 'Unconfirmed', 'Unverified', 'Under investigation', 'Invalid'], np.nan)
print(types.value_counts())

sharkdf['Type'] = types
del types
print(sharkdf['Type'].value_counts())

Unprovoked    4716
Provoked       593
Watercraft     583
Name: Type, dtype: int64
Unprovoked    4716
Provoked       593
Watercraft     583
Name: Type, dtype: int64

In [90]:
# Question 3
url = 'http://www.vcsc.virginia.gov/pretrialdataproject/October%202017%20Cohort_Virginia%20Pretrial%20Data%20Project_Deidentified%20FINAL%20Update_10272021.csv'
pretrialdf = pd.read_csv(url,low_memory=False)
print(pretrialdf.head())

  InternalStudyID REQ_REC# Defendant_Sex Defendant_Race Defendant_BirthYear  \
0        ADI00001        1             M              W                1986
1        ADI00007        3             M              B                1956
2        ADI00008        4             M              W                1990
3        CDI00036        6             M              B                1989
4        CDI00038        7             F              W                1988

  Defendant_Age  Defendant_AgeGroup Defendant_AgeatCurrentArrest  \
0            31                   3                           31
1            60                   6                           60
2            27                   3                           27
3            27                   3                           27
4            28                   3                           28

   Defendant_AttorneyTypeAtCaseClosure  Defendant_IndigencyStatus  ...  \
0                                   99                         99  ...
1                                    9                          9  ...
2                                    9                          9  ...
3                                    0                          0  ...
4                                    0                          0  ...

  NewFelonySexualAssaultArrest_OffDate  \
0
1
2
3
4

  NewFelonySexualAssaultArrest_ArrestDate  \
0
1
2
3
4

   NewFelonySexualAssaultArrest_DaysBetweenContactEventandOffDate  \
0
1
2
3
4

  NewFelonySexualAssaultArrest_DaysBetweenOffDateandArrestDate  \
0                                                999
1                                                999
2                                                999
3                                                999
4                                                999

   NewFelonySexualAssaultArrest_DaysBetweenReleaseDateandOffDate  \
0                                                999
1                                                999
2                                                999
3                                                999
4                                                999

   NewFelonySexualAssaultArrest_Disposition  \
0
1
2
3
4

   Intertnalindicator_ReasonforExcludingFromFollowUpAnalysis  \
0                                                  4
1                                                  5
2                                                  5
3                                                  5
4                                                  0

   CriminalHistoryRecordsReturnedorCMSRecordsFoundforIndividual  \
0                                                  1
1                                                  1
2                                                  1
3                                                  1
4                                                  1

  DispRecordFoundforChargesinOct2017Contact_Atleast1dispfound  \
0                                                  0
1                                                  1
2                                                  1
3                                                  1
4                                                  1

   CrimeCommission2021ReportClassificationofDefendants
0  Defendant could not be classified or tracked d...
1  Defendant Detained Entire Pre-Trial Period_Und...
2  Defendant Detained Entire Pre-Trial Period_Und...
3  Defendant Detained Entire Pre-Trial Period_Und...
4  New criminal offense punishable by incarcerati...

[5 rows x 709 columns]

In [91]:
pretrialdf = pretrialdf.rename(columns= {'WhetherDefendantWasReleasedPretrial': 'released'})
released = pretrialdf['released']
print(released.value_counts())
print(released.unique())

1    19154
0     3801
9       31
Name: released, dtype: int64
[9 0 1]

In [92]:
# Based on the codebook, the 9's are unclear. So, we should make these data nan
released.replace(9, np.nan)
print(sum(released.isnull()))
pretrialdf['released'] = released
del released

0

In [93]:
# Question 4
sentence = pretrialdf['SentenceTypeAllChargesAtConvictionInContactEvent']
print(sentence.value_counts(), '\n') 
"""
Considering the codebook, there were 274 charges with types deemed as Not Applicable.
Additionally, there are 8779 values in which the case was dismissed, which could explain if there was any missing data
in ImposedSentenceAllChargeInContactEvent. If the case was deferred then there wouldn't be sentence term.
"""

imposed = pretrialdf['ImposedSentenceAllChargeInContactEvent']
print(imposed.unique()) # one of the variables is ' ', possibly hinting at some empty data
imposed = pd.to_numeric(imposed, errors="coerce") # convert imposed into numeric
imposed_nulls = imposed
print(sum(imposed_nulls.isnull())) # There are 9053 null values. 274 + 8779 = 9053

# # If we can't find out the type of charge, then we can't determine the sentence term, so we should use NaN for observations with type 9
imposed = imposed.mask(sentence == 9, np.nan)

# # If the charge was deferred, the subject received no sentence, so we should mark observations with type 4 as 0 for serving a sentence of 0 months
imposed = imposed.mask(sentence == 4, 0)

pretrialdf['ImposedSentenceAllChargeInContactEvent'] = imposed
del imposed, sentence

4    8779
0    8720
1    4299
2     914
9     274
Name: SentenceTypeAllChargesAtConvictionInContactEvent, dtype: int64

[' ' '60' '12' '.985626283367556' '36' '6' '24' '5.91375770020534' '120'
 '72' '11.9917864476386' '0' '2.95687885010267' '84' '108' '300' '240'
 '180' '4' '96' '2' '54' '.328542094455852' '44' '5' '115' '132' '48'
 '258' '34' '76' '.164271047227926' '.131416837782341' '111' '9' '3'
 '1.97125256673511' '36.9856262833676' '.0657084188911704'
 '35.4928131416838' '106.492813141684' '8' '35' '18.3141683778234' '480'
 '32' '93' '234' '732' '1.16427104722793' '4.6570841889117' '21' '7'
 '4.49281314168378' '18' '600' '43.1642710472279' '179' '52' '30' '20'
 '192' '702' '14' '55' '53' '11.9055441478439' '114' '35.0061601642711'
 '68' '.657084188911704' '46.6242299794661' '102' '65' '200' '57'
 '24.3285420944559' '12.1642710472279' '117' '81.4928131416838'
 '22.4928131416838' '1980' '3.6570841889117' '56' '10' '2.79260780287474'
 '1' '47' '22' '1500' '40' '284' '11' '118' '42' '162' '156'
 '47.2956878850103' '105' '51' '246' '29' '75' '324' '360'
 '34.4804928131417' '120.328542094456' '59.9260780287474' '66'
 '59.9917864476386' '660' '51.1642710472279' '14.9568788501027'
 '3.98562628336756' '78' '228' '1.47843942505133' '62' '4.8' '86' '168'
 '23' '33' '48.0328542094456' '720' '348' '1200' '27' '49' '87' '420' '63'
 '79.9260780287474' '57.0349075975359' '49.9712525667351'
 '59.4928131416838' '17' '238.492813141684' '60.9856262833676' '126' '45'
 '158' '216' '227' '42.9568788501027' '445' '70.952772073922' '516'
 '177.82135523614' '1752' '90' '1080' '141' '4.82956878850103' '230' '31'
 '2208' '52.5133470225873' '69' '26' '33.4928131416838' '140' '131' '344'
 '219' '101' '71' '59' '58' '120.197125256674' '67' '35.4004106776181'
 '3.28542094455852' '40.1642710472279' '91' '1.7741273100616' '155'
 '34.4928131416838' '81' '92.3285420944559' '3.5482546201232' '207' '74'
 '518' '28' '8.95687885010267' '237' '404.673511293634' '18.1642710472279'
 '10.7433264887064' '551' '39' '15' '124' '43' '176' '19.4928131416838'
 '482' '129' '88' '46' '45.8542094455852' '128.628336755647'
 '136.492813141684' '108.328542094456' '50' '363.663244353183' '288' '250'
 '107' '81.0225872689938' '444' '205' '10.6570841889117' '19'
 '66.9856262833676' '38.4928131416838' '264' '276' '173' '222' '144' '294'
 '336' '431' '450' '73' '99.3285420944559' '128' '30.8069815195072'
 '31.5256673511294' '127' '202' '55.3285420944559' '89' '242'
 '1.31416837782341' '1029' '.788501026694045' '194.858316221766' '399'
 '39.6570841889117' '56.95687885' '198' '120.985626283368'
 '47.6570841889117' '148' '6.8993839835729' '65.3285420944559'
 '5.95277207392197' '.0985626283367557' '3.32854209445585'
 '3.94250513347023' '12.9856262833676' '6.98562628336756'
 '13.1498973305955' '15.1642710472279' '17.1971252566735'
 '17.9137577002053' '104' '212' '24.6570841889117' '72.6570841889117'
 '2.98562628336756' '144.985626283368' '31.9712525667351' '183'
 '4.98562628336756' '11.8213552361396' '252' '12.394250513347'
 '42.4928131416838' '10.1642710472279' '11.1642710472279'
 '5.49281314168378' '59.6632443531827' '12.3285420944559'
 '48.9856262833676' '240.985626283368' '2.6570841889117' '540'
 '2.97125256673511' '6.32854209445585' '23.6632443531828'
 '133.657084188912' '35.3285420944559' '456' '103' '1.72279260780287'
 '12.6570841889117' '11.6570841889117' '60.3285420944559'
 '3.78850102669405' '576' '2.13141683778234' '492' '14.9856262833676'
 '24.9856262833676' '61.9712525667351' '5.6570841889117' '16'
 '42.1642710472279' '.492813141683778' '138' '13.3141683778234'
 '11.8932238193018' '5.32854209445585' '95' '62.6570841889117'
 '3.08829568788501' '11.8275154004107' '1.64271047227926'
 '47.9917864476386' '4.27104722792608' '8.32854209445585'
 '3.31416837782341' '70' '77' '1.09856262833676' '48.1642710472279'
 '27.4928131416838' '6.93839835728953' '1011' '.68993839835729'
 '1.1170431211499' '1.49281314168378' '4.16427104722793'
 '1.19712525667351' '4.07392197125257' '188' '11.3285420944559'
 '.0328542094455852' '432' '11.952772073922' '36.4928131416838'
 '23.9835728952772' '9.98562628336756' '98' '36.3285420944559' '112'
 '.394250513347023' '13' '.262833675564682' '13.7987679671458'
 '5.8870636550308' '354' '5.91991786447639' '24.1642710472279'
 '62.95687885' '4.59958932238193' '123' '2.32854209445585'
 '23.9240246406571' '204' '197' '174' '16.1498973305955' '840' '440'
 '98.95687885' '17.952772073922' '63.9425051334702' '60.1314168377823'
 '12.1314168377823' '172.952772073922' '.197125256673511'
 '138.164271047228' '4.92813141683778' '.919917864476386'
 '18.9856262833676' '6.6570841889117' '2.85420944558522'
 '8.91375770020534' '146' '12.4928131416838' '.558521560574949'
 '.722792607802875' '5.82135523613963' '84.9856262833676'
 '6.16427104722793' '15.9856262833676' '64.5585215605749'
 '38.299794661191' '11.958932238193' '3.1211498973306' '126.328542094456'
 '5.16427104722793' '64' '42.6570841889117' '312' '19.9712525667351'
 '82.3285420944559' '23.9712525667351' '17.6242299794661'
 '121.971252566735' '59.6550308008214' '1.32854209445585'
 '7.97125256673511' '1.91991786447639' '.525667351129363'
 '9.32854209445585' '42.9856262833676' '41.9137577002053'
 '72.9856262833676' '12.4784394250513' '5.19096509240246' '473'
 '16.6570841889117' '109' '86.3285420944559' '41' '1.90554414784394'
 '94.1642710472279' '302' '4.39425051334702' '10.8213552361396'
 '18.3285420944559' '154' '83' '110.956878850103' '226' '96.0328542094456'
 '4.82135523613963' '30.3285420944559' '37.9712525667351'
 '50.4640657084189' '286' '99' '99.4928131416838' '2.6611909650924'
 '70.9712525667351' '13.9712525667351' '23.6570841889117'
 '.459958932238193' '132.492813141684' '283' '49.3141683778234'
 '27.9856262833676' '38' '7.6570841889117' '83.6550308008214'
 '10.9199178644764' '162.328542094456' '37' '132.328542094456'
 '35.952772073922' '165' '10.9856262833676' '20.1642710472279'
 '2.59137577002053' '175' '180.985626283368' '10.3285420944559'
 '36.1642710472279' '120.657084188912' '232' '152' '8.98562628336756'
 '167' '11.0657084188912' '11.2032854209446' '5.19712525667351'
 '3.16427104722793' '60.1642710472279' '1.18275154004107'
 '21.1642710472279' '2.19712525667351' '4.19712525667351'
 '2.62833675564682' '119.952772073922' '119.958932238193'
 '9.49281314168378' '5.25667351129363' '15.3285420944559'
 '2.82135523613963' '192.985626283368' '48.6570841889117'
 '5.95687885010267' '2.29979466119097' '960' '2.36550308008214' '116'
 '19.5133470225873' '1.6570841889117']
9053

**Q3.** Many important datasets contain a race variable, typically limited to a handful of values often including Black, White, Asian, Latino, and Indigenous. This question looks at data gathering efforts on this variable by the U.S. Federal government.

1. How did the most recent US Census gather data on race?
2. Why do we gather these data? What role do these kinds of data play in politics and society? Why does data quality matter?
3. Please provide a constructive criticism of how the Census was conducted: What was done well? What do you think was missing? How should future large scale surveys be adjusted to best reflect the diversity of the population? Could some of the Census' good practices be adopted more widely to gather richer and more useful data?
4. How did the Census gather data on sex and gender? Please provide a similar constructive criticism of their practices.
5. When it comes to cleaning data, what concerns do you have about protected characteristics like sex, gender, sexual identity, or race? What challenges can you imagine arising when there are missing values? What good or bad practices might people adopt, and why?
6. Suppose someone invented an algorithm to impute values for protected characteristics like race, gender, sex, or sexuality. What kinds of concerns would you have?